
<div class="container">
  <h6 class="text-center bg-primary text-white">Employee Registration</h6>
  <form [formGroup]="employeeForm" class="mb-3" (ngSubmit)="submitData()">
    <div class="row">
      <div class="col-4">
        <div>
          <label for="department" class="form-label">Department</label>
          <select name="department" id="" class="form-select" formControlName="department" 
          [class.is-invalid]="f['department'].invalid && f['department'].touched">
            <option value="null">--Select--</option>
            @for(item of departmentList; track $index) {
              <option value="{{item.id}}">{{item.name}}</option>
            }
          </select>
        </div>
        
        @if (f['department'].invalid && f['department'].touched) {
          @if (f['department'].errors && f['department'].errors['required']) {
            <p class="alert alert-danger">Department is required</p>
          }
        }
      </div>
      <div class="col-4">
        <label for="name" class="form-label">Employee Name</label>
        <input type="text" class="form-control" formControlName="empName" 
        [class.is-invalid]="f['empName'].invalid && f['empName'].touched" >

        @if(f['empName'].invalid && f['empName'].touched){
          @if(f['empName'].errors && f['empName'].errors['required']){
            <p class="alert alert-danger">Employee Name is Requird</p>
          }
          @if(f['empName'].errors && f['empName'].errors['minlength']){
            <p class="alert alert-danger">Minimum 3 is Requird</p>
          }
          @if(f['empName'].errors && f['empName'].errors['maxlength']){
            <p class="alert alert-danger">maxmum 10 is Requird</p>
          }
        }
      </div>
      <div class="col-4">
        <label for="mobile" class="form-label">Mobile</label>
        <input type="text" class="form-control" formControlName="mobile"
        [class.is-invalid]="f['mobile'].invalid && f['mobile'].touched">
        @if(f['mobile'].invalid && f['mobile'].touched){
          @if (f['mobile'].errors && f['mobile'].errors['required']) {
            <p class="alert alert-danger">Mobile Number is required</p>
          }
        }
      </div>
      
    </div>

    <div class="row">
      <div class="col-4">
        <div>
          <label for="gender" class="form-label">Gender</label>
          <select name="gender" class="form-select" formControlName="gender"
          [class.is-invalid]="f['gender'].invalid && f['gender'].touched">
            <option value="null">--Select--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        @if(f['gender'].invalid && f['gender'].touched){
          @if (f['gender'].errors && f['gender'].errors['required']) {
            <p class="alert alert-danger">Gender is required</p>
          }
        }
      </div>
      <div class="col-4">
        <div>
          <label for="dateofjoining" class="form-label">Date of Joining</label>
          <input type="date" name="dateofjoining" class="form-control" formControlName="joiningDate"
          [class.is-invalid]="f['joiningDate'].invalid && f['joiningDate'].touched">
        </div>
        @if(f['joiningDate'].invalid && f['joiningDate'].touched){
          @if (f['joiningDate'].errors && f['joiningDate'].errors['required']) {
            <p class="alert alert-danger">Joining Date is required</p>
          }
        }
      </div>
      <div class="col-4">
        <div>
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" formControlName="email"
          [class.is-invalid]="f['email'].invalid && f['email'].touched">
        </div>
        @if(f['email'].invalid && f['email'].touched){
          @if (f['email'].errors && f['email'].errors['required']) {
            <p class="alert alert-danger">Email is required</p>
          }
          @if (f['email'].errors && f['email'].errors['pattern']) {
            <p class="alert alert-danger">Invalid Email</p>
          }
        }
      </div>
     
    </div>

    <div class="row">
      <div class="col-4">
        <label for="salary" class="form-label">Salary</label>
        <input type="text" class="form-control" formControlName="salary"
        [class.is-invalid]="f['salary'].invalid && f['salary'].touched">
        @if(f['salary'].invalid && f['salary'].touched){
          @if (f['salary'].errors && f['salary'].errors['required']) {
            <p class="alert alert-danger">Salary is required</p>
          }
        }
      </div>
      <div class="col-4">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password"
        [class.is-invalid]="f['password'].invalid && f['password'].touched">
        @if(f['password'].invalid && f['password'].touched){
          @if (f['password'].errors && f['password'].errors['required']) {
            <p class="alert alert-danger">Password is required</p>
          }
        }
      </div>
      <div class="col-4">
        <label for="confirmpassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword"
        [class.is-invalid]="f['confirmPassword'].invalid && f['confirmPassword'].touched">
        @if(f['confirmPassword'].invalid && f['confirmPassword'].touched){
          @if (f['confirmPassword'].errors && f['confirmPassword'].errors['required']) {
            <p class="alert alert-danger">Confirm Password is required</p>
          }
        }
      </div>
      
    </div>  
    
    <div class="row">
      <div class="col-12">
        <div class="form-group form-check">
          <input type="checkbox" name="active" class="form-check-input" formControlName="status"
          [class.is-invalid]="f['status'].invalid && f['status'].touched">
          <label for="active" class="form-label form-check-label"> Active</label>
        </div>
        @if(f['status'].invalid && f['status'].touched){
          @if (f['status'].errors && f['status'].errors['required']) {
            <p class="alert alert-danger">Status is required</p>
          }
        }        
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <button type="submit"[class.disabled]="employeeForm.invalid" class="btn btn-primary me-3">{{buttonText}}</button>
        <button type="button" class="btn btn-info text-white me-3" (click)="reset()">Reset</button>
      </div>
    </div>
  </form>

  <h6 class="text-center bg-primary text-white">Employee List</h6>

  <table class="table text-center">
    <thead>
      <th>Department</th>
      <th>Employee Name</th>
      <th>Mobile</th>
      <th>Gender</th>
      <th>JOining Date</th>
      <th>Email</th>
      <th class="text-center">Actions</th>
    </thead>
    <tbody>
      @for (item of allEmployees; track $index) {
        <tr>
          <td>{{item.department}}</td>
          <td>{{item.empName}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.joiningDate}}</td>
          <td>{{item.email}}</td>
          <td class="text-center">
            <i class="fa fa-edit text-primary me-3" (click)="edit(item.id)"></i>
            <i class="fa text-danger fa-trash" (click)="delete(item.id)"></i>
          </td>
        </tr>
      }
      
    </tbody>
  </table>
</div>